body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}
.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.menu div:last-child {
    margin-left: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 12px;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.column {
    width: 50%;
    vertical-align: top;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

a {
    text-decoration: none; 
}

thead th {
    background-color: #f4f4f4;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}