{% extends "base.html" %}
{% block content %}

<p>Update note of: {{component.manufacturer_part}} </p>
<p>Current note: {{ component.note }}</p>
<form action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p style="font-size:18px">
        {{ form.note.label }}:<br>{{ form.note(style='height: 50px; width:350px') }}<br><br>
        {{ form.submit() }} <br>
        {% for error in form.note.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}<br>
    </p>
</form>
{% endblock %}