<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ComponentGuide - {{ title }}</title>
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <script src="{{url_for('static', filename='scripts.js')}}"></script>

        {{ moment.include_moment() }}
    </head>
    <body>
        <!-- menu -->
        <div class="menu">
            <div> 
                <a href="/all_components">Components</a>
                <a href="/incoming_shipments">Incoming shipments</a>
                <a href="/open_po">Open PO</a>
                <a href="/supplier_stock">Supplier stock</a>
                <a href="/supplier_shipments">Supplier shipments</a>
                <a href="/">Projects</a>
                <a href="/">Other</a>
            </div>
            <a>Date: {{ moment(current_date).format('DD/MM/YYYY') }}, Week {{ week_number }}</a>
        </div>
        <!-- content -->
        <div class="container">
            <div class="text-left mt-5">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>{% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <hr>
                <p class="lead">{% block content %}{% endblock %}</p>
            </div>
        </div>
    </body>
</html>