{% extends "base.html" %}
{% block content %}
<tbody>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }
        .column {
            flex: 1;
            margin: 0 5px;
        }
        table {
            font-size: 16px;
            width: 100%;
            table-layout: fixed; /* Ustawienie stałego układu tabeli */
        }

        </style>
    <a href="{{ url_for('next_component', step='back', id=component.id) }}">Previous</a>
    <a href="{{ url_for('next_component', step='forward', id=component.id) }}">Next</a>
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <th style="width: 30%">ID</th>
                        <td>{{ component.id }}</td>
                    </tr>
                    <tr>
                        <th>Material number</th>
                        <td>{{ component.material_number }}</td>
                    </tr>
                    <tr>
                        <th>Material description</th>
                        <td>{{ component.material_description }}</td>
                    </tr>
                    <tr>
                        <th>Supplier material number</th>
                        <td>{{ component.supplier_material_number }}</td>
                    </tr>
                    <tr>
                        <th>Manufacturer part</th>
                        <td>{{ component.manufacturer_part }}</td>
                    </tr>
                </table>
            </td>
            
            <td>
                <table>
                    <tr>
                        <th style="width: 30%">Leadtime [weeks]</th>
                        <td><a href="{{ url_for('update_component_leadtime', id=component.id) }}">{{ component.leadtime }}</a></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td><a href="{{ url_for('update_component_status', id=component.id) }}">{{ component.status }}</a></td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td><a href="{{ url_for('update_component_note', id=component.id) }}">{{ component.note }}</a></td>
                    </tr>
                    <tr>
                        <th>Check</th>
                        <td><a href="{{ url_for('change_check', id=component.id) }}">{{ component.check }}</a></td>
                    </tr>
                    <tr>
                        <th>On shortage</th>
                        <td><a href="{{ url_for('change_shortage', id=component.id) }}">{{ component.on_shortage }}</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</tbody>
{% endblock %}