{% extends "base.html" %}
{% block content %}
<style>
body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
}
.column_1 {
    width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: left;
}
.column_2 {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: left;
}
.column_3 {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: left;
}
.column_4 {
    width: 1200px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: left;
}
h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 0;
}
</style>
<body>
    <a href="{{ url_for('next_component', step='back', id=component.id) }}">Previous</a>
    <a href="{{ url_for('next_component', step='forward', id=component.id) }}">Next</a>
    <div class="container">
        <div class="column_1">
            <h3>1. Basic info</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <td>{{ component.id }} (of {{ all_components_count }})</td>
                    <th><a href="{{ url_for('update_component_status', id=component.id) }}">Status</a></th>
                    <td>{{ component.status }}</td>
                </tr>
                <tr>
                    <th>Material number</th>
                    <td><button onClick="copyStringToClipboard('{{ component.material_number }}')">{{ component.material_number }}</button></td>
                    <th>Supplier material number</th>
                    <td>{{ component.supplier_material_number }}</td>
                </tr>
                <tr>
                    <th>Material description</th>
                    <td colspan = "3">{{ component.material_description }}</td>
                </tr>
                <tr>
                    <th>Manufacturer part</th>
                    <td><button onClick="copyStringToClipboard('{{ component.manufacturer_part }}')">{{ component.manufacturer_part }}</button></td>
                    <th>Unit price [$]</th>
                    <td>{{ component.unit_price }}</td>
                </tr>
                <tr>
                    <th>Leadtime [weeks]</th>
                    <td>{{ component.leadtime }}</td>
                    <td colspan="4">
                        <form action="{{ url_for('update_leadtime', id=component.id) }}" method="post">
                            {{ form_leadtime.hidden_tag() }}
                            {{ form_leadtime.new_leadtime(style='height: 14px; width:40px') }}
                            {{ form_leadtime.submit_leadtime() }}
                        </form>
                    </td>
                </tr>
                </tr>
                    <th><a href="{{ url_for('update_component_note', id=component.id) }}">Note</a></th>
                    <td colspan = "3">{{ component.note }}</td>
                </tr>
                </tr>
                    <th><a href="{{ url_for('change_check', id=component.id) }}">Check</a></th>
                    <td>{{ component.check }}</td>
                    <th><a href="{{ url_for('change_shortage', id=component.id) }}">On shortage</a></th>
                    <td>{{ component.on_shortage }}</td>
                </tr>
            </table>
            <h3><a href="{{ url_for('add_component_comment', id=component.id) }}">Comments</a></h3>     
            <table>
                <tr>
                    <th>Date</th>
                    <th>Text</th>
                    <th>Action</th>
                </tr>
                {% for comment in comments %}
                <tr>
                    <td>{{ moment(comment.timestamp).format('DD/MM/YYYY') }}</td>
                    <td>{{ comment.text }}</td>
                    <td><a href="{{ url_for('remove_component_comment', comment_id=comment.id, id=comment.component_id) }}">Remove</a></td>
                </tr>
                {% endfor %}
            </table> 
        </div>
        <div class="column_2">
            <h3>2. Quantities</h3>
            <table>
                <tr>
                    <th>A - Stock</th>
                    <td>{{ component.stock }}</td>
                    <td colspan="5">
                        <form action="{{ url_for('update_stock', id=component.id) }}" method="post">
                            {{ form_stock.hidden_tag() }}
                            {{ form_stock.new_stock(style='height: 14px; width:50px') }}
                            {{ form_stock.submit_stock() }}
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>B - Orders</th>
                    <td>{{ component.orders }}</td>
                    <td colspan="5">
                        <form action="{{ url_for('update_orders', id=component.id) }}" method="post">
                            {{ form_orders.hidden_tag() }}
                            {{ form_orders.new_orders(style='height: 14px; width:50px') }}
                            {{ form_orders.submit_orders() }}
                        </form>
                    </td>
                </tr>
                </tr>
                    <th>C - Free to order - plant (A - B)</th>
                    <td colspan="4">{{ component.stock - component.orders }}</td>
                    <th>D - Free to order - total (C + F)</th>
                    <td colspan="4">{{ free_to_order }}</td>
                </tr>
                </tr>
                    <th><a href="/incoming_shipments">E - Incoming shipments - plant</a></th>
                    <td colspan="4">{{ incoming_shipments | sum(attribute='incoming_shipments_qty') }}</td>
                    <th><a href="/open_po">F - Open PO</a></th>
                    <td colspan="4">{{ open_po | sum(attribute='po_qty') }}</td>
                </tr>
                </tr>
                    <th><a href="/supplier_stock">G - Supplier stock</a></th>
                    <td colspan="4">{{ supplier_stock }}</td>
                    <th>H - Supplier stock left</th>
                    <td>{{ supplier_stock_left }}</td>
                </tr>
            </table>
            <h3><a href="/supplier_shipments">Supplier shipments</a> - total: {{ supplier_shipments | sum(attribute='asn_qty') + supplier_shipments | sum(attribute='ssd_qty') }} pcs</h3>
            <table>
                <tr>
                    <th>No</th>
                    <th>Supplier PO</th>
                    <th>Customer PO</th>
                    <th>MAD date</th>
                    <th>MAD<br>week</th>
                    <th>Total<br>QTY</th>
                    <th>QTY<br>left</th>
                </tr>
                {% for shipment in supplier_shipments %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ shipment.supplier_po }}</td>
                    <td>{{ shipment.customer_po }}</td>
                    <td>{{ shipment.mad_date }}</td>
                    <td>{{ moment(shipment.mad_date).format('W') }}</td>
                    <td>{{ shipment.asn_qty + shipment.ssd_qty }}</td>
                    <td>{{ remaining_supplier_shipments[loop.index-1] }}</td>
                </tr>
                {% endfor %}
            </table> 
        </div>
        <div class="column_3">
            <h3><a href="/open_po">3. Open PO</a> - total: {{ open_po | sum(attribute='po_qty')}} pcs</h3>
            <table>
                <tr>
                    <th>No</th>
                    <th>Customer PO</th>
                    <th>PO<br>QTY</th>
                    <th>Document<br>date</th>
                </tr>
                {% for one_po in open_po %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ one_po.customer_po }}</td>
                    <td>{{ one_po.po_qty }}</td>
                    <td>{{ one_po.document_date }}</td>
                </tr>
                {% endfor %}
            </table>    
        </div>
    </div>
    <div>
        <div class="column_4">
            <h3><a href="/open_projects">4. Projects</a> - total: {{ component.project | sum(attribute='project_qty')}} pcs</h3>
            <table>
                <tr>
                    <th>Customer</th>
                    <th>Project date</th>
                    <th>Overall rate</th>
                    <th>Project QTY</th>
                    <th>Availability</th>
                    <th>DDO status</th>
                    <th>DDO date</th>
                </tr>
                {% for project in component.project %}
                <tr>
                    <td>{{ project.customer }}</td>
                    <td>{{ project.project_date }}</td>
                    <td>{{ project.project_status }}</td>
                    <td>{{ project.project_qty }}</td>
                    <td>{{ project.component_availability }}</td>
                    <td>{{ project.ddo_status }}</td>
                    <td>{{ project.ddo_end_date }}</td>
                </tr>
                {% endfor %}
            </table>    
        </div>
    </div>
</body>
{% endblock %}