{% extends "base.html" %}
{% block content %}
<body>
    <form action="{{ url_for('update_supplier_shipments') }}" method="post" enctype="multipart/form-data">
        <label for="supplier_shipment">Select supplier shipments file:</label>
        <input type="file" name="file" accept=".xlsx, .xls" id="supplier_shipment">
        <input type="submit" value="Upload new data">
    </form>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Material number</th>
                <th>Manufacturer part</th>
                <th>Supplier PO</th>
                <th>Customer PO</th>
                <th>Total QTY</th>
                <th>MAD date</th>
                <th>MAD week</th>
            </tr>
        </thead>
        <tbody>
                {% for shipment, component in all_shipments_info.items() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('component_view', id=component.id) }}">{{ component.material_number }}</td>
                    <td>{{ component.manufacturer_part }}</td>
                    <td>{{ shipment.supplier_po }}</td>
                    <td>{{ shipment.customer_po }}</td>
                    <td>{{ shipment.asn_qty + shipment.ssd_qty }}</td>
                    <td>{{ shipment.mad_date }}</td>
                    <td>{{ moment(shipment.mad_date).format('W') }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}